body{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    max-height: 1920px;
    height: 600px;
    min-height: 568px;
    width: 100%;

    background-color: #313133;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 50px;

}

.rulesText{

    color: #313133;
    font-family: sans-serif;

    font-size: 16px;

}

#imgCheck{

    height: 25px;
    width: 25px;

}

.cardConvit{

    height: 100%;
    width: 90%;

    background-color: #2E2D33;

    border-radius: 8px;

    box-shadow: 0 0 0px rgb(7, 0, 15);

    display: flex;
    align-items: center;
    justify-content: start;

    flex-direction: column;

    gap: 5px;

}
.header{

    height: 10%;
    width: 100%;

    background-color: #E7E7E7;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    display: flex;

}


.instanceBox{

    height: 15%;

    width: 100%;

    background-color: #E7E7E7;

    display: flex;
    align-items: center;
    justify-content: center;

}

/* Lógica de ativação*/
/* list inputs */
#check_1{

    display: none;

}
#check_2{

    display: none;

}
#check_3{

    display: none;

}
#check_4{

    display: none;

}
#check_5{

    display: none;

}
#check_6{

    display: none;

}
#check_7{

    display: none;

}
#check_8{

    display: none;

}
#check_9{

    display: none;

}
#check_10{

    display: none;

}
/*--------*/

input:checked + .areaBox{

    background-color: #101011;

}
input:checked + .areaBox #numbersSize{

    color: #E7E7E7;

}
input:checked + .areaBox #nameMark{

    color: #E7E7E7;

}
input:checked + .areaBox .checkBoxTemplate{

    border-color: #E7E7E7;

    animation: animetionBox 0.3s ease-in-out 1;

}
input:checked + .areaBox #hitImg{


    animation: animetionBall 0.3s ease-in 1;

}

@keyframes animetionBox {

    0%{

        height: 40px;
        width: 40px;

    }

    50%{

        height: 45px;
        width: 45px;

    }

    100%{

        height: 40px;
        width: 40px;

    }
    
}

/* animation hitMark */
@keyframes animetionBall{

    0%{

        height: 10px;
        width: 10px;

    }

    50%{

        height: 25px;
        width: 25px;

    }

    100%{

        height: 20px;
        width: 20px;

    }


}

.areaBox{

    height: 15%;
    width: 100%;

    background-color: #E7E7E7;

    border-radius: 2px;

    display: flex;

    transition: all 2s background;

}

.areaName{

    height: 100%;
    width: 40%;

    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;



}


.areaNumber{

    height: 100%;
    width: 40%;

    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

}
#numbersSize{

    font-size: 25px;

}

.areaCheckBox{

    height: 100%;
    width: 20%;

    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

}
.checkBoxTemplate{

    height: 40px;
    width: 40px;

    border: solid #2E2D33 2px;

    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;


}
#hitImg{

    height: 20px;
    width: 20px;

}

.buttonPlus{

    height: 10%;
    width: 100%;

    display: flex;

}
.areaBack{

    height: 100%;
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #E7E7E7;

    border-bottom-left-radius: 10px;

}

#setaVolta{

    height: 30px;
    width: 20px;


}
.areaGo{

    height: 100%;
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-left: solid #2E2D33 1px;

    border-bottom-right-radius: 10px;


    background-color: #575766;
}
.areaGo:active{

    background-color: #101011;

    transition: all 1s background;

}
.areaGo:active > #setaVai{

    height: 0;
    width: 0;

}
.areaGo:active > #setaActive{

    height: 30px;
    width: 20px;

}
#setaVai{

    height: 30px;
    width: 20px;

    rotate: 180deg;

}

#setaActive{

    height: 0;
    width: 0;

}

/* desktop 1440px */
